head, body, html {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

header {
	background: #310980;
	color: #FFF08D;
	padding: 20px;
	text-align: center;
}

h1, h2, h3 {
	font-weight: 400;
}

#navbar{
	color: #FFF08D;
	background: #310980;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

#navbar a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #FFF08D;
}

#navbar a:hover {
	text-decoration: underline;
}

footer {
	background: #310980;
	color: #FFF08D;
	position: static;
	bottom: 0;
	width: 100%;
	left: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 0;
}

footer p {
	font-weight: 400;
	float: right;
	padding: 20px;

}

footer a {
	text-decoration: none;
	color: #FFF08D;
}

footer a:hover {
	text-decoration: underline;
}

/* home page */
#content-container {
	background-image: url('Images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-image img{
	width: 800px;
	height: 800px;
	object-fit: contain;
	margin: 5% 50% 100px;
}

/*About and hobbies page*/

#about-content-container {
	background: #D4BEFF;
	margin-bottom: 0;

}

h2 {
	color: #310980;
	font-size: 30px;
}

p {
	color: #3A414A;
}

/* Image styling */

.abount-content-images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}
.content-images{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.abount-content-images img {
	width: 200px;
	height: auto;
	margin-bottom: 10px;

}

.content-images img {
	width: 250px;
	height: auto;
	margin-bottom: 10px;
}

/* Paragraph styling */

#about, #hobbies{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 40px;
	font-size: 30px;
	padding-bottom: 50px;
	margin-bottom: 0;
}

.about-section, .hobbies-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 20px;
}


.about-section p, .hobbies-section p {
	width: 50%;
	margin-right: 30px;
	margin-bottom: 30px;
}

figure {
	font-size: 14px;
}
